.formContent {
  width: 100%;
  padding: 1.2em;
  min-height: 6em;
  font-family: inherit;
  border: 2px solid #7a7a7a;
  border-radius: 7px;
  margin-bottom: 1em;
}

.formButton {
  background: #3c74c8;
  border-radius: 7px;
  color: white;
  padding: 0.6em 1em;
  border: 0;
  font-family: inherit;
  font-size: 1.2em;
  margin-top: 15px;
}
